{% extends 'first/base.html' %}

{% block content %}
</style>
<div class="container">
    <form action="{% url 'create_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post_id }}">  <!-- Додайте поле з айді -->
        <div class="form-field">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <div class="form-field">
            {{ form.author.label_tag }}
            {{ form.author }}
        </div>
        <button type="submit" class="btn-submit">Додати коментар</button>
    </form>
</div>
{% endblock %}
