{% extends 'first/base.html' %}

{% block content %}
<style>
    .post-image {
        max-width: 100%;
        max-height: 250px;
    }
</style>
  <div class="container">
    <h1>{{ post.title }}</h1>
    <img class="post-image" src="/media/{{ post.image }}" alt="">
    <h2>{{ post.context }}</h2>
    {% if user.is_superuser %}
    <a class="btn btn-secondary" href="{% url 'post_edit' post.pk %}">Редагувати допис</a>
    <div class="text-end">
    <a class="btn btn-danger" href="{% url 'post_delete' post.pk %}">Видалити допис</a>
    </div>
    {% endif %}

    <h2>Коментарі</h2>
    <ul>
      {% for comment in comments %}
        <li>{{ comment.created_at }} : {{ comment.content }} - {{ comment.author }}</li>
      {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <h2>Додати коментар</h2>
    <form action="{% url 'create_comment' %}" method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="hidden" name="post_id" value="{{ post.id }}">
      <button class="btn btn-primary" type="submit">Додати коментар</button>
    </form>
    {% endif %}
  </div>
{% endblock %}
